.col-6{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    transition: 2s;

}
img{
    height: 300px;
    width: 100%;
}
h1{
    opacity: 20px;
}
.col-6 h1:hover{
    color: white;
    display: block;
}
img:hover{
    filter: blur(0.6);
}
h1 button{
    background-color: transparent;
    color: white;
    border: none;
}
h1 button:hover{
    background-color: white;
    color: black;
}